@media screen and (max-width: 1440px) {
    .img1 {
        height: 700px;
    }
    .slider-sizee {
        height: 600px;
    }
    .footer {
        margin-top: 300px;
    }
    .second-menu {
        margin: 200px auto;
    }
}
@media screen and (max-width: 1024px) {
    .img1 {
        height: 600px;
    }
    .second-menu {
        margin: 150px auto;
        height: 450px;
    }
    .second-menu a {
        font-size: 20px;
    }
    .slider-sizee {
        height: 400px;
    }
    .footer {
        margin-top: 200px;
    }
    .footer__refs {
        max-width: 650px;
        margin-left: 100px;
    }
    .footer__refs a {
        font-size: 16px;
    }
    .footer__ceo-name {
        margin-top: 30px;
    }
    .footer__ceo-name h2 {
        font-size: 18px;
    }
}
@media screen and (max-width: 786px) {
    .img1 {
        height: 500px;
    }
    .marquee-text {
        height: 45px;
        font-size: 30px;
    }
    .slick-prev,
    .slick-next {
        width: 0px;
        height: 0;
        overflow: hidden;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: .75;
    }
    .nav__menu-button:hover div {
        background-color: rgba(0, 0, 0, 0);
    }
    .footer__refs {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        margin-left: 0;
    }
    .footer__refs div {
        text-align: center;
        margin: 10px 0;
    }
}
@media screen and (max-width: 425px) {
    .nav {
        margin:  0 10px;
    }
    .nav1__logo-ref {
        width: 150px;
        left: calc(50% - 75px);
    }
    .drop-menu__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .slider-sizee {
        height: 450px;
    }
    .second-menu a:nth-child(1) {
        top: 8%;
        left: 10px;
    }
    .second-menu a:nth-child(2) {
        top: 0;
        right: 10px;
    }
    .second-menu a:nth-child(3) {
        top: 25%;
        left: 55%;
    }
    .second-menu a:nth-child(4) {
        left: 30px;
        top: 40%;
    }
    .second-menu a:nth-child(5) {
        top: 70%;
        left: 10%;
    }
    .second-menu a:nth-child(6) {
        top: 55%;
        right: 20px;
    }
    .second-menu a:nth-child(7) {
        bottom: 0;
        left: 5%;
        font-weight: 700;
        background: transparent;
    }
    .second-menu a:nth-child(8) {
        bottom: 0;
        right: 10%;
        font-weight: 700;
        background: transparent;
    }
    .footer__logo {
        width: 200px;
        height: 70px;
        margin-bottom: 10px;
    }
    .footer__refs a {
        font-size: 14px;
    }
    .footer__ceo-name {
        padding: 0 10px;
    }
    .footer__ceo-name h2 {
        font-size: 15px;
    }
}