/* Сброс стилей */
body{
    margin: 0;
    background-color: rgb(237, 237, 237);
    position: relative;
}


/* Навигация по сайту */
.nav-wrapper{
    margin-top: 15px;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center; 
}
.nav{
    margin: 0 20px;
    width: 100%;
    backdrop-filter: blur(135px);
    -webkit-backdrop-filter: blur(135px);
    border-radius: 20px;
    max-width: 1300px;
    overflow: hidden;
}
.nav:hover {
    background-color: rgba(0, 0, 0, 0.025);
}
.nav1{
    width: 100%;
    height: 56px;
    overflow: hidden;
    position: relative;
}
.nav__menu-button {
    display: flex;
    width: 80px;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: rgba(63, 68, 74, 1);
    float: left;
}
.nav__menu-button:hover div {
    background-color: rgba(0, 0, 0, 0.15);
}
.test-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.nav__menu-button div {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none; 
}

.nav1__logo-ref {
    display: block;
    position: relative;
    width: 200px;
    height: 100%;
    position: absolute;
    left: calc(50% - 100px);
}
.nav1__logo {
    width: 100%;
    height: 100%;
    background-image: url(../images/main-logo-dotless.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
    position: absolute;
    bottom: 0px;
    transition: 0.2s;
}
.nav1__dot {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: rgb(38, 52, 118);
    transition: 0.2s;
    right: 1px;
    bottom: 19px;
    z-index: 12;
}

#shopping-bag {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}
.nav1__shopping-bag {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-image: url(../images/shopping-bag-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
}
#shopping-bag:hover .nav1__shopping-bag{
    background-color: rgba(0, 0, 0, 0.2);
}

/* Выпадающее меню */
.nav__drop-menu {
    width: 100%;
    display: none;
}
.open-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop-menu__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
}
.drop-menu__list > a {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 10px;
    border-radius: 12px;
    color: rgb(237, 237, 237); 
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: 0.2s;
}
.drop-menu__list > a span {
    position: relative;
}
.drop-menu__list a:nth-child(3) span::before,
.drop-menu__list a:nth-child(5) span::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    top: calc(50% + 1px);
}
.drop-menu__list > a:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, 0.15);
}






/* Основной контент */
.img1 {
    width: 100%;
    height: 900px;
    background-image: url(../images/slider-img4.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.marquee-text {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 600;
    color: black;
    background-color: rgb(38, 52, 118);
    color: white;
}


/* Второе меню */
.second-menu {
    width: 100%;
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 300px;
    margin-bottom: 300px;
    position: relative;
    box-sizing: border-box;
}
.second-menu a {
    text-decoration: none;
    position: absolute;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.2s;
    background: linear-gradient(90deg, rgba(203,207,204,1) 0%, rgba(221,222,211,1) 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgba(63, 68, 74, 1);
    padding: 15px;
}
.second-menu a:hover{
    transform: scale(1.1);
}

.second-menu a:nth-child(1) {
    top: 30px;
    left: 10%;
}
.second-menu a:nth-child(2) {
    top: 0;
    right: 15%;
}
.second-menu a:nth-child(3) {
    top: 150px;
    left: 55%;
}
.second-menu a:nth-child(4) {
    left: 20px;
    top: 200px;
}
.second-menu a:nth-child(5) {
    top: 300px;
    left: 30%;
}
.second-menu a:nth-child(6) {
    top: 250px;
    right: 20px;
}
.second-menu a:nth-child(7) {
    top: 450px;
    left: 5%;
    font-weight: 700;
    background: transparent;
}
.second-menu a:nth-child(8) {
    top: 450px;
    right: 10%;
    font-weight: 700;
    background: transparent;
}
/* Анимация при скроле */
.element-animation {
    opacity: 0;
    transform: translateY(-100px);
}
  
.element-animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}


/* Кастомизация слайдера */
.slick-prev,
.slick-next {
    background-color: rgb(237, 237, 237);
    width: 8%;
}
.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}
.slider {
    max-width: 1500px;
    margin: 0 auto;
}
/* Слайдер фото */
.slider-sizee {
    width: 90%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.slider__img1 {
    background-image: url(https://i.pinimg.com/564x/58/35/ae/5835ae86c6a8bef529d82335371fd449.jpg);
}
.slider__img2 {
    background-image: url(../images/slider-img2.JPG);
}
.slider__img3 {
    background-image: url(../images/slider-img3.JPG);
}
.slider__img4 {
    background-image: url(../images/slider-img4.JPG);
}
.slider__img5 {
    background-image: url(../images/slider-img5.JPG);
}





/* Footer */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(63, 68, 74, 1);
    margin-top: 400px;
}
.footer__logo {
    display: block;
    width: 300px;
    height: 100px;
    background-image: url(../images/main-logo-invert.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 20px;
}
.footer__double-ul {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content:space-around;
}
.footer__double-ul ul {
    margin: 0;
    padding: 0;
}
.footer__double-ul ul:first-child {
    margin-left: 100px;
}
.footer__double-ul ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
    overflow: hidden;
}
.footer__double-ul ul li a {
    text-decoration: none;
    color: rgb(237, 237, 237);
    position: relative;
}
.footer__double-ul ul li a::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(237, 237, 237);
    top: calc(100% - 1px);
    transition: 0.2s;
}
.footer__double-ul ul li a::before {
    left: -100%;
}
.footer__double-ul ul li a:hover::before {
    left: 0;
}
.footer__ceo-name {
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin-top: 100px;
    box-sizing: border-box;
}
.footer__ceo-name h2 {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(237, 237, 237);
}
