@media screen and (max-width: 1440px) {
    .img1 {
        height: 800px;
    }
    .slider-sizee {
        height: 600px;
    }
}
@media screen and (max-width: 1024px) {
    .img1 {
        height: 700px;
    }
    .second-menu {
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .second-menu a {
        font-size: 20px;
    }
    .slider-sizee {
        height: 500px;
    }
}
@media screen and (max-width: 786px) {
    .slider-sizee {
        height: 600px;
        width: 70%;
    }
}
@media screen and (max-width: 425px) {
    
}